<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <%- include('./components/header.ejs') %>
 
<body>
  <div>
    <script>
      function add() {
        let json = {
          _id:document.getElementById("id").value,
         date : document.getElementById("date").value,
         count : document.getElementById("count").value
      }
        fetch('/addCopys', {
                method: "POST",
                headers: { 'Content-Type': "application/json;charset=UTF-8" },
                body: JSON.stringify(json)
            }).then(()=>{let root = document.querySelector('div');
            root.innerHTML = `<h1>Success</h1>`})
    }
    </script>
      <label>Transport ID:
        <input type="text" id="id">
      </label><br><br>
      <label>Addition date 
        <input type="date" id="date">
      </label><br><br>
      <label>Quantity
        <input type="number" id="count">
      </label><br><br>
      <input type="button" value="Add" onclick="add()"></div>>
</body>
</html>