<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<%- include('./components/header.ejs') %>
    <body class="home">
        
        <div class="container">
            <h1>Transport for rent</h1>
            </div>
    </body>

</html>

